/* Base Button Style */
.btn {
  letter-spacing: 0.01rem;
  border: none;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  padding: 9px 15px;
  border-radius: 2px;
  &:hover {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.4);
  }
  &:focus,
  &:active,
  &.btn-active {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  }
  &.disabled,
  &[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
  }
}

.btn-1 {
  color: #ffffff;
  @include base_gradient;
  position: relative;
  &:hover, &.btn-active {
    background-color: lighten($base_color, 10%);
  }
}

.btn-2 {
  color: #ffffff;
  @include default_gradient;
  position: relative;
  &:hover, &.btn-active {
    background-color: lighten($base_color, 10%);
  }
}

.btn-3 {
  color: #ffffff;
  @include contrast_gradient;
  position: relative;
  &:hover, &.btn-active {
    background-color: lighten($base_color, 10%);
  }
}

.btn-lg, .btn-group-lg > .btn {
  padding: 13px 30px;
  font-size: 1.375rem;
}

.btn-md, .btn-group-md > .btn {
  padding: 14px 20px;
  font-size: 0.875rem;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 8px;
  font-size: 10px;
}

.btn-xs, .btn-group-xs > .btn {
  padding: 0.4em 1rem;
  font-size: 0.75rem;
}

.btn-block {
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 0.4rem;
}
