/* ================================
 HOLDEM
================================= */

.game-holdem-box {
  background: url("/nax_assets/images/game/holdem-table.png") center no-repeat;
  height: 390px;
  margin-top: 15px;
  margin-bottom: 15px;
  .game-holdem_table-line {
    height: 130px;
    width: 100%;
    .game-holdem_player-box {
      width: 96px;
      height: 113px;
      border-radius: 2px;
      padding: 4px;
      .game-holdem_player-number {
        span {
          display: inline-block;
          height: 20px;
          width: 40px;
          font-size: 14px;
          font-weight: bold;
          line-height: 20px;
          color: $contrast_text;
          text-align: center;
        }
      }
      .game-holdem_player-bet {
        a {
          display: inline-block;
          background-color: $contrast_bg;
          border-radius: 2px;
          height: 20px;
          width: 40px;
          color: $base_color;
          font-weight: bold;
          text-align: center;
          line-height: 20px;
          cursor: pointer;
          &:hover {
            @include base_gradient;
            color: $contrast_text;
          }
        }
      }
      .game-holdem_player-cards {
        position: relative;
        .game-holdem_player-cards-box {
          margin-top: 4px;
        }
      }
    }
    .game-holdem_table-desk {
      width: 300px;
      height: 150px;
      border: 1px;
      .game-holdem_table-desk-card {

      }

    }
  }
}

// default cards
.desk-card-box {
  /* all width */
  [class*='desk-card'] {
    display: inline-block;
    width: 55px;
    height: 80px;
    border-radius: 3px;
    background: $base_bg url("../images/game/playing-cards.png") top left no-repeat;
  }

  $bottom: 80px;
  @each $lem in he, di, cl, sp {
    $bottom: $bottom - 80px;
    $left: 55px;
    @each $num in 2, 3, 4, 5, 6, 7, 8, 9, 10, j, q, k, a{
      $left: $left - 55px;
      .desk-card-#{$lem}-#{$num} {
        background-position: $left $bottom;
      }
    }
  }
}

