@font-face {
  font-family: "icon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
  url("../fonts/flaticon.woff") format("woff"),
  url("../fonts/flaticon.ttf") format("truetype"),
  url("../fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class*='icon-'] {
  font-family: icon;
  /* 1 */
  display: inline-block;
  /* 2 */
  font-weight: normal;
  font-style: normal;

  /* 5 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-middle {
  vertical-align: middle;
  margin-top: -1px;
}

.icon-xs {
  font-size: 80%;
}

.icon-sm {
  font-size: 80%;
}

.icon-md {
  font-size: 120%;
}

.icon-lg {
  font-size: 150%;
}

.icon-xl {
  font-size: 200%;
}

/* example */
.icon-badminton:before {
  content: "\e000";
}
.icon-basketball:before {
  content: "\e001";
}
.icon-check:before {
  content: "\e002";
}
.icon-club:before {
  content: "\e003";
}
.icon-diamond:before {
  content: "\e004";
}
.icon-chevron-down:before {
  content: "\e005";
}
.icon-football:before {
  content: "\e006";
}
.icon-close:before {
  content: "\e007";
}
.icon-gambling:before {
  content: "\e008";
}
.icon-chevron-left:before {
  content: "\e009";
}
.icon-heart:before {
  content: "\e00a";
}
.icon-poker5:before {
  content: "\e00b";
}
.icon-poker6:before {
  content: "\e00c";
}
.icon-chevron-right:before {
  content: "\e00d";
}
.icon-run-horse:before {
  content: "\e00e";
}
.icon-run-dog:before {
  content: "\e00f";
}
.icon-spade:before {
  content: "\e010";
}
.icon-stock7:before {
  content: "\e011";
}
.icon-stop4:before {
  content: "\e012";
}
.icon-tennis:before {
  content: "\e013";
}
.icon-chevron-up:before {
  content: "\e014";
}
.icon-volleyball:before {
  content: "\e015";
}
