/* Preloader */
.preloader {
  position: fixed !important;
  z-index: 99999;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #f2f2f2;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 86px;
  height: 86px;
  margin: -44px 0 0 -44px;
  border-radius: 50%;
  border: 3px solid $base_color;
  border-right: none;
  border-left: none;
  -webkit-animation: spin 2.5s linear infinite;
  animation: spin 3s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-webkit-keyframes spin2 {
  50% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

#loader-wrapper p {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  margin: -14px 0 0;
  -webkit-animation: spin2 2.5s linear infinite;
  animation: spin2 3s linear infinite;
}
