.bingo_37_box {


}

.bingo_37_taqble{
  position: relative;
  width: 628px;
  margin: 0 auto;
  .bingo_37_ticket_header{
    div{
      padding: 10px;
      border-radius: 5px 5px 0 0;
      width: 33.333%;
      float: left;
      border: 2px solid $base_bg;
      color: $wtext;
    }
  }
  .bingo_37_ticket{
  display: table;
    position: relative;
    border: 2px solid $base_bg;
    .bingo_37_number {
    border-radius:4px;
      background-color: #ececec;
    height: 52px;
    width: 52px;
    line-height: 52px;
    text-align: center;
    float: left;
    border: 2px solid $base_bg;
    font-size: 1.2rem;
    &.active,&.hover{
      background-color: #cccccc;
    }
  }
  .bingo_37_bet_box{
    position: absolute;
    width: 650px;
    top:-13px;
    left: -13px;
    .bingo_37_bet{
      height: 26px;
      width: 26px;
      float: left;
      &.disabled{
        border-radius: 50%;
        background-color: red;
      }
    }
  }
}
  .plus_bet_bingo_37{

      a {display: block;
        padding: 10px;
        border-radius: 5px;
        border: 2px solid #ececec;
      }
  }
}



.drop_ball_box {
  height: 40px;
  width: 100%;
  .drop_ball{
    background-color: green;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
  }
}
