/* Base Text Setting */

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}

a, button, a span, .btn {
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
  color: $dtext;
}

h1 {
  font-size: 2.6rem;
  line-height: 3.2rem;
}

h2 {
  font-size: 1.75rem;
  line-height: 2.75rem;
}

h3 {
  line-height: 24px;
  font-size: 1.5rem;
}

h4 {
  font-size: 1.375rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.125rem;
  margin-bottom: 1.2rem;
}

h6 {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

p {
  font-size: 0.875rem;
  line-height: 1.4rem;
  margin-bottom: 15px;
}

p:last-child {
  margin-bottom: 0;
}

.light-text, .light-text > * {
  color: #ffffff !important;
}

.dark-text, .dark-text > * {
  color: $dtext !important;
}

.text-green {
  color: $base_color;
}

.text-yellow {
  color: $yellow;
}

.text-red {
  color: $red;
}

.text-white {
  color: $wtext;
}

.text-italic {
  font-style: italic;
}

.white-text-shadow {
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.4);
}

.dark-text-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.text-group-xs *, .text-xs {
  line-height: 0.75rem;
  font-size: 0.75rem;
}

.text-group-sm *, .text-sm {
  line-height: 0.875rem;
  font-size: 0.875rem;
}

.text-group-md *, .text-md {
  line-height: 1rem;
  font-size: 2.2rem;
}

.text-group-lg *, .text-lg {
  line-height: 2rem;
  font-size: 2.8rem;
}

.text-group-xlg *, .text-xlg {
  line-height: 4rem;
  font-size: 4.5rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-middle:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.text-middle > * {
  vertical-align: middle;
  display: inline-block;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: bold;
}