/*----------------------------------------------------------

----------------------------------------------------------*/
//$green: #80b465;
$base_color: #1D6800;
$red: #c44346;
$yellow: #ffd355;
$blue: #75b7ff;
$orange: #ffad36;
$black: #333333;
$grey: #ececec;
$dtext: #8b8b8b;
$ligth: #f2f2f2;
$wtext: #ffffff;
$dgrey: #d5d5d5;
$white_yellow: #fff1be;
/*---------------------------------------------------------*/


/*----------------------------------------------------------

----------------------------------------------------------*/
$lighter:     rgba(255,255,255,0.2); //on 20%
$darker:      rgba(0,0,0,0.2);  //on 20%
/*---------------------------------------------------------*/

/*----------------------------------------------------------
Light version
----------------------------------------------------------*/
$base_bg: #ffffff;
$contrast_bg: #ececec;

$base_border: #d5d5d5;
$contrast_border: #ffffff;

$base_text: #777777;
$contrast_text: #ffffff;
$dark_text: #8b8b8b;
/*---------------------------------------------------------*/

/*----------------------------------------------------------
Dark version
----------------------------------------------------------*/
//$base_bg: #444444;
//$contrast_bg: #222222;
//
//$base_border: #222222;
//$contrast_border: #444444;
//
//$base_text: #eeeeee;
//$contrast_text: #eeeeee;
//$dark_text: #8b8b8b;
/*---------------------------------------------------------*/


$overlay: rgba(0,0,0,0.6);

$size: xs sm md lg;
$ip: 1;
$i: 1;

$bg-colors: #bf5c50 #5989bf #b27f42 #1b1b1b #ffd355 #25bf16 #80b465;


/* Icons */
$c-l: "\e005";
$c-d: "\e003";
$c-r: "\e006";
$check: "\e002";
$radio: "\e00b";


//@mixin green-gr {
//  background: #9dd054; /* Old browsers */
//  background: -moz-linear-gradient(top, #9dd054 0%, #458d23 100%); /* FF3.6+ */
//  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd054), color-stop(100%, #458d23)); /* Chrome,Safari4+ */
//  background: -webkit-linear-gradient(top, #9dd054 0%, #458d23 100%); /* Chrome10+,Safari5.1+ */
//  background: -o-linear-gradient(top, #9dd054 0%, #458d23 100%); /* Opera 11.10+ */
//  background: -ms-linear-gradient(top, #9dd054 0%, #458d23 100%); /* IE10+ */
//  background: linear-gradient(to bottom, #9dd054 0%, #458d23 100%); /* W3C */
//  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dd054', endColorstr='#458d23', GradientType=0); /* IE6-9 */
//  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
//}

@mixin base_gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#098c00+0,1d6800+100 */
  background: #098c00; /* Old browsers */
  background: -moz-linear-gradient(top,  #098c00 0%, #1d6800 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#098c00), color-stop(100%,#1d6800)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #098c00 0%,#1d6800 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #098c00 0%,#1d6800 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #098c00 0%,#1d6800 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #098c00 0%,#1d6800 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#098c00', endColorstr='#1d6800',GradientType=0 ); /* IE6-9 */
}

@mixin default_gradient {
  background: #c3c3c3; /* Old browsers */
  background: -moz-linear-gradient(top, #c3c3c3 0%, #777777 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c3c3c3), color-stop(100%, #777777)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #c3c3c3 0%, #777777 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c3c3c3 0%, #777777 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #c3c3c3 0%, #777777 100%); /* IE10+ */
  background: linear-gradient(to bottom, #c3c3c3 0%, #777777 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c3c3c3', endColorstr='#777777', GradientType=0); /* IE6-9 */
}

@mixin contrast_gradient {
  background: #ffcb30; /* Old browsers */
  background: -moz-linear-gradient(top, #ffcb30 2%, #d68e00 76%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #ffcb30), color-stop(76%, #d68e00)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffcb30 2%, #d68e00 76%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffcb30 2%, #d68e00 76%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffcb30 2%, #d68e00 76%); /* IE10+ */
  background: linear-gradient(to bottom, #ffcb30 2%, #d68e00 76%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcb30', endColorstr='#d68e00', GradientType=0); /* IE6-9 */
}


// Modals

// ===================================
//  Modals
// ===================================
// TODO rewrite all code
//##

//** Modal backdrop background color
$modal-backdrop-bg: rgba(0,0,0,0.5);

//** Padding applied to the modal body
$modal-radius:         3px !default;



//** Padding applied to the modal title
$modal-title-padding:         15px !default;
//** Padding applied to the modal title
$modal-title-bg:        #ffffff;
//** Modal title line-height
$modal-title-line-height:     2rem !default;

//** Background color of modal content area
$modal-content-bg:                             #fff !default;
//** Modal content border color
$modal-content-border-color:                   rgba(0,0,0,.2) !default;
//** Modal content border color **for IE8**
$modal-content-fallback-border-color:          #999 !default;

//** Modal header border color
$modal-header-border-color:   #e5e5e5 !default;
//** Modal footer border color
$modal-footer-border-color:   $modal-header-border-color !default;

$modal-lg:                    900px !default;
$modal-md:                    540px !default;
$modal-sm:                    300px !default;

