@charset "UTF-8";
/*----------------------------------------------------------

----------------------------------------------------------*/
/*---------------------------------------------------------*/
/*----------------------------------------------------------

----------------------------------------------------------*/
/*---------------------------------------------------------*/
/*----------------------------------------------------------
Light version
----------------------------------------------------------*/
/*---------------------------------------------------------*/
/*----------------------------------------------------------
Dark version
----------------------------------------------------------*/
/*---------------------------------------------------------*/
/* Icons */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.field:before,
.field:after {
  display: table;
  content: " "; }

.clearfix:after,
.container:after,
.row:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.field:after {
  clear: both; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.field:before,
.field:after {
  display: table;
  content: " "; }

.clearfix:after,
.container:after,
.row:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.field:after {
  clear: both; }

/* =====================================================================
Grid system
===================================================================== */
.document {
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden; }

.content {
  flex-grow: 1; }

.container {
  margin-right: auto;
  margin-left: auto;
  position: relative; }

[class*='col-'] {
  width: 100%;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.row {
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem; }

.row.reverse {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.col.reverse {
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.col-xs {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  max-width: 100%; }

.col-xs-1 {
  -webkit-flex-basis: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%; }

.col-xs-2 {
  -webkit-flex-basis: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%; }

.col-xs-3 {
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  max-width: 25%; }

.col-xs-4 {
  -webkit-flex-basis: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%; }

.col-xs-5 {
  -webkit-flex-basis: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%; }

.col-xs-6 {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  max-width: 50%; }

.col-xs-7 {
  -webkit-flex-basis: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%; }

.col-xs-8 {
  -webkit-flex-basis: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%; }

.col-xs-9 {
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  max-width: 75%; }

.col-xs-10 {
  -webkit-flex-basis: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%; }

.col-xs-11 {
  -webkit-flex-basis: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%; }

.col-xs-12 {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%; }

.col-xs-offset-1 {
  margin-left: 8.333%; }

.col-xs-offset-2 {
  margin-left: 16.667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.333%; }

.col-xs-offset-5 {
  margin-left: 41.667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.333%; }

.col-xs-offset-8 {
  margin-left: 66.667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.333%; }

.col-xs-offset-11 {
  margin-left: 91.667%; }

.start-xs {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  text-align: start; }

.center-xs {
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center; }

.end-xs {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  text-align: end; }

.top-xs {
  -webkit-align-items: flex-start;
  align-items: flex-start; }

.middle-xs {
  -webkit-align-items: center;
  align-items: center; }

.bottom-xs {
  -webkit-align-items: flex-end;
  align-items: flex-end; }

.around-xs {
  -webkit-justify-content: space-around;
  justify-content: space-around; }

.between-xs {
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.first-xs {
  -webkit-order: -1;
  order: -1; }

.last-xs {
  -webkit-order: 1;
  order: 1; }

@media (min-width: 48rem) {
  /*Landscape phones and portrait tablets */
  .container {
    width: 46rem; }

  .col-sm {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    flex-basis: 0;
    max-width: 100%; }

  .col-sm-1 {
    -webkit-flex-basis: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%; }

  .col-sm-2 {
    -webkit-flex-basis: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%; }

  .col-sm-3 {
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%; }

  .col-sm-4 {
    -webkit-flex-basis: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%; }

  .col-sm-5 {
    -webkit-flex-basis: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%; }

  .col-sm-6 {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%; }

  .col-sm-7 {
    -webkit-flex-basis: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%; }

  .col-sm-8 {
    -webkit-flex-basis: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%; }

  .col-sm-9 {
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%; }

  .col-sm-10 {
    -webkit-flex-basis: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%; }

  .col-sm-11 {
    -webkit-flex-basis: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%; }

  .col-sm-12 {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%; }

  .col-sm-offset-1 {
    margin-left: 8.333%; }

  .col-sm-offset-2 {
    margin-left: 16.667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.333%; }

  .col-sm-offset-5 {
    margin-left: 41.667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.333%; }

  .col-sm-offset-8 {
    margin-left: 66.667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.333%; }

  .col-sm-offset-11 {
    margin-left: 91.667%; }

  .start-sm {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    text-align: start; }

  .center-sm {
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center; }

  .end-sm {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    text-align: end; }

  .top-sm {
    -webkit-align-items: flex-start;
    align-items: flex-start; }

  .middle-sm {
    -webkit-align-items: center;
    align-items: center; }

  .bottom-sm {
    -webkit-align-items: flex-end;
    align-items: flex-end; }

  .around-sm {
    -webkit-justify-content: space-around;
    justify-content: space-around; }

  .between-sm {
    -webkit-justify-content: space-between;
    justify-content: space-between; }

  .first-sm {
    -webkit-order: -1;
    order: -1; }

  .last-sm {
    -webkit-order: 1;
    order: 1; } }
@media (min-width: 62rem) {
  /* Portrait tablets and medium desktops */
  .container {
    width: 61rem; }

  .col-md {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    flex-basis: 0;
    max-width: 100%; }

  .col-md-1 {
    -webkit-flex-basis: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%; }

  .col-md-2 {
    -webkit-flex-basis: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%; }

  .col-md-3 {
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%; }

  .col-md-4 {
    -webkit-flex-basis: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%; }

  .col-md-5 {
    -webkit-flex-basis: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%; }

  .col-md-6 {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%; }

  .col-md-7 {
    -webkit-flex-basis: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%; }

  .col-md-8 {
    -webkit-flex-basis: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%; }

  .col-md-9 {
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%; }

  .col-md-10 {
    -webkit-flex-basis: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%; }

  .col-md-11 {
    -webkit-flex-basis: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%; }

  .col-md-12 {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%; }

  .col-md-offset-1 {
    margin-left: 8.333%; }

  .col-md-offset-2 {
    margin-left: 16.667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.333%; }

  .col-md-offset-5 {
    margin-left: 41.667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.333%; }

  .col-md-offset-8 {
    margin-left: 66.667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.333%; }

  .col-md-offset-11 {
    margin-left: 91.667%; }

  .start-md {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    text-align: start; }

  .center-md {
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center; }

  .end-md {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    text-align: end; }

  .top-md {
    -webkit-align-items: flex-start;
    align-items: flex-start; }

  .middle-md {
    -webkit-align-items: center;
    align-items: center; }

  .bottom-md {
    -webkit-align-items: flex-end;
    align-items: flex-end; }

  .around-md {
    -webkit-justify-content: space-around;
    justify-content: space-around; }

  .between-md {
    -webkit-justify-content: space-between;
    justify-content: space-between; }

  .first-md {
    -webkit-order: -1;
    order: -1; }

  .last-md {
    -webkit-order: 1;
    order: 1; } }
@media (min-width: 75rem) {
  /* Large desktops and laptops */
  .container {
    width: 71rem; }

  .col-lg {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    flex-basis: 0;
    max-width: 100%; }

  .col-lg-1 {
    -webkit-flex-basis: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%; }

  .col-lg-2 {
    -webkit-flex-basis: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%; }

  .col-lg-3 {
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%; }

  .col-lg-4 {
    -webkit-flex-basis: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%; }

  .col-lg-5 {
    -webkit-flex-basis: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%; }

  .col-lg-6 {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%; }

  .col-lg-7 {
    -webkit-flex-basis: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%; }

  .col-lg-8 {
    -webkit-flex-basis: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%; }

  .col-lg-9 {
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%; }

  .col-lg-10 {
    -webkit-flex-basis: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%; }

  .col-lg-11 {
    -webkit-flex-basis: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%; }

  .col-lg-12 {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%; }

  .col-lg-offset-1 {
    margin-left: 8.333%; }

  .col-lg-offset-2 {
    margin-left: 16.667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.333%; }

  .col-lg-offset-5 {
    margin-left: 41.667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.333%; }

  .col-lg-offset-8 {
    margin-left: 66.667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.333%; }

  .col-lg-offset-11 {
    margin-left: 91.667%; }

  .start-lg {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    text-align: start; }

  .center-lg {
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center; }

  .end-lg {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    text-align: end; }

  .top-lg {
    -webkit-align-items: flex-start;
    align-items: flex-start; }

  .middle-lg {
    -webkit-align-items: center;
    align-items: center; }

  .bottom-lg {
    -webkit-align-items: flex-end;
    align-items: flex-end; }

  .around-lg {
    -webkit-justify-content: space-around;
    justify-content: space-around; }

  .between-lg {
    -webkit-justify-content: space-between;
    justify-content: space-between; }

  .first-lg {
    -webkit-order: -1;
    order: -1; }

  .last-lg {
    -webkit-order: 1;
    order: 1; } }
.col-pad-0 {
  padding: 0; }

.col-pad-l-0 {
  padding-left: 0; }

.col-pad-r-0 {
  padding-right: 0; }

@font-face {
  font-family: "icon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"), url("../fonts/flaticon.woff") format("woff"), url("../fonts/flaticon.ttf") format("truetype"), url("../fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
[class*='icon-'] {
  font-family: icon;
  /* 1 */
  display: inline-block;
  /* 2 */
  font-weight: normal;
  font-style: normal;
  /* 5 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-middle {
  vertical-align: middle;
  margin-top: -3px; }

.icon-xs {
  font-size: 80%; }

.icon-sm {
  font-size: 80%; }

.icon-md {
  font-size: 120%; }

.icon-lg {
  font-size: 150%; }

.icon-xl {
  font-size: 200%; }

/* example */
.icon-badminton:before {
  content: "\e000"; }

.icon-basketball:before {
  content: "\e001"; }

.icon-check:before {
  content: "\e002"; }

.icon-club:before {
  content: "\e003"; }

.icon-diamond:before {
  content: "\e004"; }

.icon-chevron-down:before {
  content: "\e005"; }

.icon-football:before {
  content: "\e006"; }

.icon-close:before {
  content: "\e007"; }

.icon-gambling:before {
  content: "\e008"; }

.icon-chevron-left:before {
  content: "\e009"; }

.icon-heart:before {
  content: "\e00a"; }

.icon-poker5:before {
  content: "\e00b"; }

.icon-poker6:before {
  content: "\e00c"; }

.icon-chevron-right:before {
  content: "\e00d"; }

.icon-run-horse:before {
  content: "\e00e"; }

.icon-run-dog:before {
  content: "\e00f"; }

.icon-spade:before {
  content: "\e010"; }

.icon-stock7:before {
  content: "\e011"; }

.icon-stop4:before {
  content: "\e012"; }

.icon-tennis:before {
  content: "\e013"; }

.icon-chevron-up:before {
  content: "\e014"; }

.icon-volleyball:before {
  content: "\e015"; }

/* Preloader */
.preloader {
  position: fixed !important;
  z-index: 99999; }

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #f2f2f2; }

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 86px;
  height: 86px;
  margin: -44px 0 0 -44px;
  border-radius: 50%;
  border: 3px solid #1D6800;
  border-right: none;
  border-left: none;
  -webkit-animation: spin 2.5s linear infinite;
  animation: spin 3s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes spin2 {
  50% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9); } }
#loader-wrapper p {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  margin: -14px 0 0;
  -webkit-animation: spin2 2.5s linear infinite;
  animation: spin2 3s linear infinite; }

.modal-open {
  overflow: hidden; }

.modal-wrap {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  overflow: auto;
  text-align: center;
  white-space: nowrap; }
  .modal-wrap::after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    content: ''; }
  .modal-wrap .modal-dialog {
    margin: 0;
    text-align: left;
    border-radius: 3px;
    overflow: hidden;
    white-space: normal;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); }
  .modal-wrap .modal-content {
    position: relative;
    background-clip: padding-box;
    outline: 0;
    padding: 10px;
    background-color: #fff; }
  .modal-wrap .modal-title {
    position: relative;
    background-color: #ffffff;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    .modal-wrap .modal-title h3 {
      display: inline;
      font-size: 1rem;
      line-height: 1rem;
      color: #ececec;
      font-weight: bold; }
      .modal-wrap .modal-title h3 i {
        font-weight: bold;
        margin-right: 0.5rem; }
    .modal-wrap .modal-title .close-modal {
      display: block;
      color: #ececec;
      width: 1.2rem;
      height: 1.2rem;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
      font-size: 1.4rem;
      line-height: 1.2rem; }
      .modal-wrap .modal-title .close-modal:after {
        content: "\2716"; }

.fixed-background__modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); }

.modal {
  display: inline-block;
  vertical-align: middle; }

.modal-sm {
  width: 300px; }

.modal-md {
  width: 540px; }

.modal-lg {
  width: 900px; }

@media (max-width: 768px) {
  .modal-md {
    width: 300px; }

  .modal-lg {
    width: 300px; } }
.modal-body {
  position: relative; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

.animated {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    transform: none; } }
.fadeInDown {
  animation-name: fadeInDown; }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    transform: none; } }
.fadeInUp {
  animation-name: fadeInUp; }

/* ================================
 HOLDEM
================================= */
.game-holdem-box {
  background: url("/nax_assets/images/game/holdem-table.png") center no-repeat;
  height: 390px;
  margin-top: 15px;
  margin-bottom: 15px; }
  .game-holdem-box .game-holdem_table-line {
    height: 130px;
    width: 100%; }
    .game-holdem-box .game-holdem_table-line .game-holdem_player-box {
      width: 96px;
      height: 113px;
      border-radius: 2px;
      padding: 4px; }
      .game-holdem-box .game-holdem_table-line .game-holdem_player-box .game-holdem_player-number span {
        display: inline-block;
        height: 20px;
        width: 40px;
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        color: #ffffff;
        text-align: center; }
      .game-holdem-box .game-holdem_table-line .game-holdem_player-box .game-holdem_player-bet a {
        display: inline-block;
        background-color: #ececec;
        border-radius: 2px;
        height: 20px;
        width: 40px;
        color: #1D6800;
        font-weight: bold;
        text-align: center;
        line-height: 20px;
        cursor: pointer; }
        .game-holdem-box .game-holdem_table-line .game-holdem_player-box .game-holdem_player-bet a:hover {
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#098c00+0,1d6800+100 */
          background: #098c00;
          /* Old browsers */
          background: -moz-linear-gradient(top, #098c00 0%, #1d6800 100%);
          /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #098c00), color-stop(100%, #1d6800));
          /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, #098c00 0%, #1d6800 100%);
          /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, #098c00 0%, #1d6800 100%);
          /* Opera 11.10+ */
          background: -ms-linear-gradient(top, #098c00 0%, #1d6800 100%);
          /* IE10+ */
          background: linear-gradient(to bottom, #098c00 0%, #1d6800 100%);
          /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#098c00', endColorstr='#1d6800',GradientType=0 );
          /* IE6-9 */
          color: #ffffff; }
      .game-holdem-box .game-holdem_table-line .game-holdem_player-box .game-holdem_player-cards {
        position: relative; }
        .game-holdem-box .game-holdem_table-line .game-holdem_player-box .game-holdem_player-cards .game-holdem_player-cards-box {
          margin-top: 4px; }
    .game-holdem-box .game-holdem_table-line .game-holdem_table-desk {
      width: 300px;
      height: 150px;
      border: 1px; }

.desk-card-box {
  /* all width */ }
  .desk-card-box [class*='desk-card'] {
    display: inline-block;
    width: 55px;
    height: 80px;
    border-radius: 3px;
    background: #ffffff url("../images/game/playing-cards.png") top left no-repeat; }
  .desk-card-box .desk-card-he-2 {
    background-position: 0px 0px; }
  .desk-card-box .desk-card-he-3 {
    background-position: -55px 0px; }
  .desk-card-box .desk-card-he-4 {
    background-position: -110px 0px; }
  .desk-card-box .desk-card-he-5 {
    background-position: -165px 0px; }
  .desk-card-box .desk-card-he-6 {
    background-position: -220px 0px; }
  .desk-card-box .desk-card-he-7 {
    background-position: -275px 0px; }
  .desk-card-box .desk-card-he-8 {
    background-position: -330px 0px; }
  .desk-card-box .desk-card-he-9 {
    background-position: -385px 0px; }
  .desk-card-box .desk-card-he-10 {
    background-position: -440px 0px; }
  .desk-card-box .desk-card-he-j {
    background-position: -495px 0px; }
  .desk-card-box .desk-card-he-q {
    background-position: -550px 0px; }
  .desk-card-box .desk-card-he-k {
    background-position: -605px 0px; }
  .desk-card-box .desk-card-he-a {
    background-position: -660px 0px; }
  .desk-card-box .desk-card-di-2 {
    background-position: 0px -80px; }
  .desk-card-box .desk-card-di-3 {
    background-position: -55px -80px; }
  .desk-card-box .desk-card-di-4 {
    background-position: -110px -80px; }
  .desk-card-box .desk-card-di-5 {
    background-position: -165px -80px; }
  .desk-card-box .desk-card-di-6 {
    background-position: -220px -80px; }
  .desk-card-box .desk-card-di-7 {
    background-position: -275px -80px; }
  .desk-card-box .desk-card-di-8 {
    background-position: -330px -80px; }
  .desk-card-box .desk-card-di-9 {
    background-position: -385px -80px; }
  .desk-card-box .desk-card-di-10 {
    background-position: -440px -80px; }
  .desk-card-box .desk-card-di-j {
    background-position: -495px -80px; }
  .desk-card-box .desk-card-di-q {
    background-position: -550px -80px; }
  .desk-card-box .desk-card-di-k {
    background-position: -605px -80px; }
  .desk-card-box .desk-card-di-a {
    background-position: -660px -80px; }
  .desk-card-box .desk-card-cl-2 {
    background-position: 0px -160px; }
  .desk-card-box .desk-card-cl-3 {
    background-position: -55px -160px; }
  .desk-card-box .desk-card-cl-4 {
    background-position: -110px -160px; }
  .desk-card-box .desk-card-cl-5 {
    background-position: -165px -160px; }
  .desk-card-box .desk-card-cl-6 {
    background-position: -220px -160px; }
  .desk-card-box .desk-card-cl-7 {
    background-position: -275px -160px; }
  .desk-card-box .desk-card-cl-8 {
    background-position: -330px -160px; }
  .desk-card-box .desk-card-cl-9 {
    background-position: -385px -160px; }
  .desk-card-box .desk-card-cl-10 {
    background-position: -440px -160px; }
  .desk-card-box .desk-card-cl-j {
    background-position: -495px -160px; }
  .desk-card-box .desk-card-cl-q {
    background-position: -550px -160px; }
  .desk-card-box .desk-card-cl-k {
    background-position: -605px -160px; }
  .desk-card-box .desk-card-cl-a {
    background-position: -660px -160px; }
  .desk-card-box .desk-card-sp-2 {
    background-position: 0px -240px; }
  .desk-card-box .desk-card-sp-3 {
    background-position: -55px -240px; }
  .desk-card-box .desk-card-sp-4 {
    background-position: -110px -240px; }
  .desk-card-box .desk-card-sp-5 {
    background-position: -165px -240px; }
  .desk-card-box .desk-card-sp-6 {
    background-position: -220px -240px; }
  .desk-card-box .desk-card-sp-7 {
    background-position: -275px -240px; }
  .desk-card-box .desk-card-sp-8 {
    background-position: -330px -240px; }
  .desk-card-box .desk-card-sp-9 {
    background-position: -385px -240px; }
  .desk-card-box .desk-card-sp-10 {
    background-position: -440px -240px; }
  .desk-card-box .desk-card-sp-j {
    background-position: -495px -240px; }
  .desk-card-box .desk-card-sp-q {
    background-position: -550px -240px; }
  .desk-card-box .desk-card-sp-k {
    background-position: -605px -240px; }
  .desk-card-box .desk-card-sp-a {
    background-position: -660px -240px; }

.bingo_37_taqble {
  position: relative;
  width: 628px;
  margin: 0 auto; }
  .bingo_37_taqble .bingo_37_ticket_header div {
    padding: 10px;
    border-radius: 5px 5px 0 0;
    width: 33.333%;
    float: left;
    border: 2px solid #ffffff;
    color: #ffffff; }
  .bingo_37_taqble .bingo_37_ticket {
    display: table;
    position: relative;
    border: 2px solid #ffffff; }
    .bingo_37_taqble .bingo_37_ticket .bingo_37_number {
      border-radius: 4px;
      background-color: #ececec;
      height: 52px;
      width: 52px;
      line-height: 52px;
      text-align: center;
      float: left;
      border: 2px solid #ffffff;
      font-size: 1.2rem; }
      .bingo_37_taqble .bingo_37_ticket .bingo_37_number.active, .bingo_37_taqble .bingo_37_ticket .bingo_37_number.hover {
        background-color: #cccccc; }
    .bingo_37_taqble .bingo_37_ticket .bingo_37_bet_box {
      position: absolute;
      width: 650px;
      top: -13px;
      left: -13px; }
      .bingo_37_taqble .bingo_37_ticket .bingo_37_bet_box .bingo_37_bet {
        height: 26px;
        width: 26px;
        float: left; }
        .bingo_37_taqble .bingo_37_ticket .bingo_37_bet_box .bingo_37_bet.disabled {
          border-radius: 50%;
          background-color: red; }
  .bingo_37_taqble .plus_bet_bingo_37 a {
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ececec; }

.drop_ball_box {
  height: 40px;
  width: 100%; }
  .drop_ball_box .drop_ball {
    background-color: green;
    border-radius: 50%;
    color: #ffffff;
    text-align: center; }

/*-----------------------------------------
Accordion
-----------------------------------------*/
.accordion-list {
  margin: 0; }

.accordion-list dt {
  padding: 0.8rem;
  border-left: 8px solid #1D6800;
  margin-top: 0.8rem;
  border-radius: 2px;
  font-size: 0.75rem;
  cursor: pointer;
  background: #f2f2f2;
  color: #8b8b8b;
  font-weight: 600; }

.accordion-list dt.active {
  background-color: #1D6800;
  border-left-color: #ececec;
  color: #ffffff; }

.accordion-list dd {
  display: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-top: none;
  margin: 0;
  padding: 1rem;
  font-size: 0.75rem;
  line-height: 1rem; }

.accordion-list dd:last-of-type {
  border-top: 1px solid white;
  position: relative;
  top: -1px; }

.toggle-accordion {
  display: none; }

.collapse {
  display: block; }

/* ===== TEXT SETTING ===== */
/* Base Text Setting */
a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none; }

a, button, a span, .btn {
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
  color: #8b8b8b; }

h1 {
  font-size: 2.6rem;
  line-height: 3.2rem; }

h2 {
  font-size: 1.75rem;
  line-height: 2.75rem; }

h3 {
  line-height: 24px;
  font-size: 1.5rem; }

h4 {
  font-size: 1.375rem;
  margin-bottom: 1rem; }

h5 {
  font-size: 1.125rem;
  margin-bottom: 1.2rem; }

h6 {
  font-size: 0.875rem;
  line-height: 1.5rem; }

p {
  font-size: 0.875rem;
  line-height: 1.4rem;
  margin-bottom: 15px; }

p:last-child {
  margin-bottom: 0; }

.light-text, .light-text > * {
  color: #ffffff !important; }

.dark-text, .dark-text > * {
  color: #8b8b8b !important; }

.text-green {
  color: #1D6800; }

.text-yellow {
  color: #ffd355; }

.text-red {
  color: #c44346; }

.text-white {
  color: #ffffff; }

.text-italic {
  font-style: italic; }

.white-text-shadow {
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.4); }

.dark-text-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }

.text-group-xs *, .text-xs {
  line-height: 0.75rem;
  font-size: 0.75rem; }

.text-group-sm *, .text-sm {
  line-height: 0.875rem;
  font-size: 0.875rem; }

.text-group-md *, .text-md {
  line-height: 1rem;
  font-size: 2.2rem; }

.text-group-lg *, .text-lg {
  line-height: 2rem;
  font-size: 2.8rem; }

.text-group-xlg *, .text-xlg {
  line-height: 4rem;
  font-size: 4.5rem; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-middle:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

.text-middle > * {
  vertical-align: middle;
  display: inline-block; }

.text-uppercase {
  text-transform: uppercase; }

.text-bold {
  font-weight: bold; }

/* ===== BUTTON STYLE ===== */
/* Base Button Style */
.btn {
  letter-spacing: 0.01rem;
  border: none;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  padding: 9px 15px;
  border-radius: 2px; }
  .btn:hover {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.4); }
  .btn:focus, .btn:active, .btn.btn-active {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .btn.disabled, .btn[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65; }

.btn-1 {
  color: #ffffff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#098c00+0,1d6800+100 */
  background: #098c00;
  /* Old browsers */
  background: -moz-linear-gradient(top, #098c00 0%, #1d6800 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #098c00), color-stop(100%, #1d6800));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #098c00 0%, #1d6800 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #098c00 0%, #1d6800 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #098c00 0%, #1d6800 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #098c00 0%, #1d6800 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#098c00', endColorstr='#1d6800',GradientType=0 );
  /* IE6-9 */
  position: relative; }
  .btn-1:hover, .btn-1.btn-active {
    background-color: #2b9b00; }

.btn-2 {
  color: #ffffff;
  background: #c3c3c3;
  /* Old browsers */
  background: -moz-linear-gradient(top, #c3c3c3 0%, #777777 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c3c3c3), color-stop(100%, #777777));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #c3c3c3 0%, #777777 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c3c3c3 0%, #777777 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #c3c3c3 0%, #777777 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #c3c3c3 0%, #777777 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c3c3c3', endColorstr='#777777', GradientType=0);
  /* IE6-9 */
  position: relative; }
  .btn-2:hover, .btn-2.btn-active {
    background-color: #2b9b00; }

.btn-3 {
  color: #ffffff;
  background: #ffcb30;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffcb30 2%, #d68e00 76%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #ffcb30), color-stop(76%, #d68e00));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffcb30 2%, #d68e00 76%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffcb30 2%, #d68e00 76%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffcb30 2%, #d68e00 76%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffcb30 2%, #d68e00 76%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcb30', endColorstr='#d68e00', GradientType=0);
  /* IE6-9 */
  position: relative; }
  .btn-3:hover, .btn-3.btn-active {
    background-color: #2b9b00; }

.btn-lg, .btn-group-lg > .btn {
  padding: 13px 30px;
  font-size: 1.375rem; }

.btn-md, .btn-group-md > .btn {
  padding: 14px 20px;
  font-size: 0.875rem; }

.btn-sm, .btn-group-sm > .btn {
  padding: 8px;
  font-size: 10px; }

.btn-xs, .btn-group-xs > .btn {
  padding: 0.4em 1rem;
  font-size: 0.75rem; }

.btn-block {
  width: 100%; }

.btn-block + .btn-block {
  margin-top: 0.4rem; }

body {
  font: normal 0.6875em/1em "Verdana", sans-serif;
  background-color: #ffffff;
  color: #777777; }

/* ===== LOADER ===== */
/* horizontal rule */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 6px 2px;
  padding: 0; }

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  max-width: 100%; }

/* Blocks manipulation */
.display-block {
  display: block; }

.block-center {
  position: relative;
  margin-left: auto;
  margin-right: auto; }

.img-middle:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

.img-middle img {
  vertical-align: middle;
  display: inline-block; }

/* all width */
.w-10 {
  width: 10%;
  position: relative; }

.w-20 {
  width: 20%;
  position: relative; }

.w-25 {
  width: 25%;
  position: relative; }

.w-30 {
  width: 30%;
  position: relative; }

.w-40 {
  width: 40%;
  position: relative; }

.w-50 {
  width: 50%;
  position: relative; }

.w-60 {
  width: 60%;
  position: relative; }

.w-70 {
  width: 70%;
  position: relative; }

.w-80 {
  width: 80%;
  position: relative; }

/* Flag bg */
.change-language {
  cursor: pointer; }

[class*='flag-'] {
  display: inline-block;
  width: 24px;
  height: 18px;
  background: url("../images/flags.png"); }

.flag-ru {
  background-position: left -18px; }

.flag-en {
  background-position: left -0px; }

.flag-fr {
  background-position: left -36px; }

.document {
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden; }

[class*='content-banner'] {
  background: transparent; }
  [class*='content-banner']:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 300px; }

.content {
  flex-grow: 1; }
  .content.content-banner-sport:before {
    background: #1B1B23 url("../images/slide.jpg") top center no-repeat; }
  .content.content-banner-cards:before {
    background: #1B1B23 url("../images/slides/cards.jpg") top center no-repeat; }
  .content.content-banner-casino:before {
    background: #1B1B23 url("../images/slides/casino.jpg") top center no-repeat; }
  .content.content-banner-race:before {
    background: #1B1B23 url("../images/race.jpg") top center no-repeat; }
  .content.content-banner-lottery:before {
    background: #1B1B23 url("../images/slides/bingo.jpg") top center no-repeat; }
  .content.content-banner-none:before {
    background: transparent; }
  .content .img-deposit {
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    margin: 15px; }
    .content .img-deposit img {
      height: auto;
      width: 100%; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  max-width: 1200px;
  min-width: 1024px; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left; }

.p-lr-10 {
  padding-left: 10px;
  padding-right: 10px; }

.m-20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none; }

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px; }

/* top header */
.top-header {
  height: 70px;
  border-bottom: 2px dotted #cccccc;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  z-index: 10;
  position: relative;
  /* auth box */ }
  .top-header .logo-box {
    height: 70px; }
    .top-header .logo-box img {
      height: 30px; }
  .top-header .auth-box {
    padding-top: 10px;
    padding-bottom: 10px; }
    .top-header .auth-box .auth-account-box, .top-header .auth-box .auth-balance-box, .top-header .auth-box .auth-exit-box, .top-header .auth-box .auth-enter-box {
      background-color: #ececec;
      border-radius: 2px;
      padding: 5px;
      height: 50px; }
      .top-header .auth-box .auth-account-box .auth-avatar, .top-header .auth-box .auth-balance-box .auth-avatar, .top-header .auth-box .auth-exit-box .auth-avatar, .top-header .auth-box .auth-enter-box .auth-avatar {
        width: 40px;
        margin-right: 7px; }
      .top-header .auth-box .auth-account-box .auth-account-name, .top-header .auth-box .auth-balance-box .auth-account-name, .top-header .auth-box .auth-exit-box .auth-account-name, .top-header .auth-box .auth-enter-box .auth-account-name {
        margin-right: 8px; }
        .top-header .auth-box .auth-account-box .auth-account-name h6, .top-header .auth-box .auth-balance-box .auth-account-name h6, .top-header .auth-box .auth-exit-box .auth-account-name h6, .top-header .auth-box .auth-enter-box .auth-account-name h6 {
          color: #1D6800;
          font-weight: bold; }
    .top-header .auth-box .auth-balance-box {
      margin-left: 5px; }
      .top-header .auth-box .auth-balance-box .auth-balance > span {
        font-weight: bold;
        line-height: 40px;
        margin-left: 8px; }
      .top-header .auth-box .auth-balance-box .auth-deposit {
        background-color: #ffffff;
        border-radius: 2px;
        padding: 5px;
        margin-left: 10px; }
    .top-header .auth-box .auth-nav-box {
      margin-left: 10px;
      padding: 5px; }
      .top-header .auth-box .auth-nav-box .auth-nav > li > a {
        font-weight: bold;
        color: #8b8b8b;
        line-height: 40px; }
        .top-header .auth-box .auth-nav-box .auth-nav > li > a:hover {
          color: #1D6800; }
    .top-header .auth-box .auth-exit-box, .top-header .auth-box .auth-enter-box {
      margin-left: 10px; }
      .top-header .auth-box .auth-exit-box .auth-exit, .top-header .auth-box .auth-enter-box .auth-exit {
        background-color: #ffffff;
        border-radius: 2px;
        padding: 5px; }
      .top-header .auth-box .auth-exit-box input, .top-header .auth-box .auth-enter-box input {
        width: 120px;
        height: 30px;
        border-radius: 2px; }
    .top-header .auth-box .auth-enter-box div {
      margin: 5px 2px; }

/* navigation */
.nav-wrap {
  height: 40px;
  background-color: #ececec;
  width: 100%;
  z-index: 1; }
  .nav-wrap .navbar-nav > li {
    position: relative;
    width: auto;
    margin: 0;
    float: left;
    border-right: 1px solid #d5d5d5; }
    .nav-wrap .navbar-nav > li:last-child {
      border-left: 1px solid #d5d5d5; }
      .nav-wrap .navbar-nav > li:last-child > span {
        padding-left: 10px;
        padding-right: 10px; }
    .nav-wrap .navbar-nav > li:first-child {
      border-left: 1px solid #d5d5d5; }
    .nav-wrap .navbar-nav > li > a, .nav-wrap .navbar-nav > li span {
      display: inline-block;
      line-height: 40px;
      height: 40px;
      font-size: 11px;
      text-transform: uppercase;
      font-weight: bold;
      color: #8b8b8b;
      padding-left: 20px;
      padding-right: 20px;
      background-color: transparent; }
      .nav-wrap .navbar-nav > li > a:hover, .nav-wrap .navbar-nav > li > a.active, .nav-wrap .navbar-nav > li span:hover, .nav-wrap .navbar-nav > li span.active {
        background-color: #1D6800;
        color: #fff; }
    .nav-wrap .navbar-nav > li > .nav-sub-menu {
      display: none;
      position: absolute;
      z-index: 9999; }
      .nav-wrap .navbar-nav > li > .nav-sub-menu li {
        background: #ececec; }
        .nav-wrap .navbar-nav > li > .nav-sub-menu li a {
          display: inline-block;
          border-top: 1px solid #d5d5d5;
          color: #8b8b8b;
          padding: 10px; }
          .nav-wrap .navbar-nav > li > .nav-sub-menu li a:hover {
            background-color: #1D6800;
            color: #ffffff; }
    .nav-wrap .navbar-nav > li:hover > .nav-sub-menu {
      display: block; }

/* aside blocks */
aside .aside-box {
  background-color: #ffffff;
  border-radius: 2px; }
  aside .aside-box .title-aside h3 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    padding: 0 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#098c00+0,1d6800+100 */
    background: #098c00;
    /* Old browsers */
    background: -moz-linear-gradient(top, #098c00 0%, #1d6800 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #098c00), color-stop(100%, #1d6800));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #098c00 0%, #1d6800 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #098c00 0%, #1d6800 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #098c00 0%, #1d6800 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #098c00 0%, #1d6800 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#098c00', endColorstr='#1d6800',GradientType=0 );
    /* IE6-9 */
    border-radius: 2px;
    text-transform: uppercase; }

.aside-left {
  width: 17.5%;
  padding: 10px;
  position: relative; }
  .aside-left .navbar-aside > li {
    width: 100%;
    margin: 1px 0; }
    .aside-left .navbar-aside > li > a {
      display: block;
      height: 30px;
      background-color: #1D6800;
      border-radius: 2px;
      text-transform: uppercase;
      color: #ffffff;
      padding: 0 10px;
      line-height: 30px;
      font-weight: bold; }
    .aside-left .navbar-aside > li .sub-navbar-aside > li {
      border-bottom: 1px solid #d5d5d5; }
      .aside-left .navbar-aside > li .sub-navbar-aside > li > a {
        display: block;
        padding: 6px 10px;
        color: #8b8b8b; }
        .aside-left .navbar-aside > li .sub-navbar-aside > li > a:before {
          font-family: icon;
          content: "";
          margin-right: 4px;
          font-size: 10px; }
        .aside-left .navbar-aside > li .sub-navbar-aside > li > a.active:before {
          content: ""; }
        .aside-left .navbar-aside > li .sub-navbar-aside > li > a.active {
          background-color: #d1c7a5; }
      .aside-left .navbar-aside > li .sub-navbar-aside > li .second-sub-navbar-aside > li {
        border-top: 1px solid #ceba9c;
        background-color: #dbd1b0; }
        .aside-left .navbar-aside > li .sub-navbar-aside > li .second-sub-navbar-aside > li:nth-of-type(2n+2) {
          background-color: #d1c7a5; }
        .aside-left .navbar-aside > li .sub-navbar-aside > li .second-sub-navbar-aside > li a {
          display: block;
          padding: 5px 10px; }

.aside-right {
  width: 21.7%;
  padding: 10px; }
  .aside-right .aside-box .tabs-betting {
    padding: 10px;
    padding-bottom: 6px; }
    .aside-right .aside-box .tabs-betting ul li {
      background: #c3c3c3;
      /* Old browsers */
      background: -moz-linear-gradient(top, #c3c3c3 0%, #777777 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c3c3c3), color-stop(100%, #777777));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #c3c3c3 0%, #777777 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #c3c3c3 0%, #777777 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #c3c3c3 0%, #777777 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #c3c3c3 0%, #777777 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c3c3c3', endColorstr='#777777', GradientType=0);
      /* IE6-9 */
      padding: 5px;
      border-radius: 2px;
      cursor: pointer;
      color: #ffffff; }
      .aside-right .aside-box .tabs-betting ul li.active {
        cursor: default;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#098c00+0,1d6800+100 */
        background: #098c00;
        /* Old browsers */
        background: -moz-linear-gradient(top, #098c00 0%, #1d6800 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #098c00), color-stop(100%, #1d6800));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #098c00 0%, #1d6800 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #098c00 0%, #1d6800 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #098c00 0%, #1d6800 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, #098c00 0%, #1d6800 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#098c00', endColorstr='#1d6800',GradientType=0 );
        /* IE6-9 */ }
  .aside-right .aside-box .kupon-box .kupon {
    background-color: #1D6800;
    border-radius: 2px;
    min-height: 40px;
    padding: 10px;
    margin-top: 4px; }
    .aside-right .aside-box .kupon-box .kupon span {
      color: #ffffff;
      font-weight: bold; }
    .aside-right .aside-box .kupon-box .kupon .kupon-check {
      display: block;
      padding-top: 10px; }
  .aside-right .aside-box .betting-box {
    background-color: #ececec;
    border-radius: 2px; }
    .aside-right .aside-box .betting-box li {
      min-height: 30px;
      line-height: 30px;
      padding: 0 10px;
      font-size: 10px;
      border-bottom: 1px solid #d5d5d5; }
      .aside-right .aside-box .betting-box li:last-child {
        border-bottom: none; }
      .aside-right .aside-box .betting-box li.btn-bet-box {
        padding: 10px; }
        .aside-right .aside-box .betting-box li.btn-bet-box span {
          display: inline-block;
          border: 5px solid #ffffff;
          border-radius: 2px; }
      .aside-right .aside-box .betting-box li input {
        width: 20%;
        height: 18px;
        margin-top: 6px;
        text-align: right;
        border-radius: 2px;
        border: none;
        padding-right: 2px; }
  .aside-right .aside-box .hole-betting-box {
    background-color: #fff1be;
    padding: 15px 10px; }
    .aside-right .aside-box .hole-betting-box span {
      line-height: 16px; }

/* Main */
main {
  width: 60.8%;
  float: left;
  padding: 10px; }
  main .main-title {
    height: 310px;
    position: relative; }
    main .main-title h1 {
      padding-top: 90px;
      font-size: 56px;
      color: #ffffff; }
  main .check-box-panel {
    height: 30px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#098c00+0,1d6800+100 */
    background: #098c00;
    /* Old browsers */
    background: -moz-linear-gradient(top, #098c00 0%, #1d6800 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #098c00), color-stop(100%, #1d6800));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #098c00 0%, #1d6800 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #098c00 0%, #1d6800 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #098c00 0%, #1d6800 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #098c00 0%, #1d6800 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#098c00', endColorstr='#1d6800',GradientType=0 );
    /* IE6-9 */
    padding: 0 10px;
    border-radius: 2px;
    color: #ffffff; }
    main .check-box-panel ul {
      line-height: 30px;
      width: 100%;
      font-size: 10px;
      color: #ffffff; }
  main .main-tables .table-box .title-table .lable-title-table {
    height: 40px;
    width: 40px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#098c00+0,1d6800+100 */
    background: #098c00;
    /* Old browsers */
    background: -moz-linear-gradient(top, #098c00 0%, #1d6800 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #098c00), color-stop(100%, #1d6800));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #098c00 0%, #1d6800 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #098c00 0%, #1d6800 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #098c00 0%, #1d6800 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #098c00 0%, #1d6800 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#098c00', endColorstr='#1d6800',GradientType=0 );
    /* IE6-9 */
    line-height: 40px;
    border-radius: 2px; }
    main .main-tables .table-box .title-table .lable-title-table i {
      font-size: 26px;
      color: #ffffff; }
  main .main-tables .table-box .title-table .desc-title-table {
    border-top: 1px solid #d5d5d5;
    margin-left: 50px; }
    main .main-tables .table-box .title-table .desc-title-table h2 {
      font-size: 1.6em;
      font-weight: bold;
      color: #1D6800; }
    main .main-tables .table-box .title-table .desc-title-table .toggle-table-indicator {
      margin-top: 8px;
      height: 22px;
      width: 22px;
      background-color: #1D6800;
      border-radius: 2px;
      line-height: 22px; }
      main .main-tables .table-box .title-table .desc-title-table .toggle-table-indicator:after {
        font-family: icon;
        content: "";
        color: #ffffff; }
      main .main-tables .table-box .title-table .desc-title-table .toggle-table-indicator.active {
        background-color: #ececec; }
      main .main-tables .table-box .title-table .desc-title-table .toggle-table-indicator.active:after {
        font-family: icon;
        content: ""; }
  main .seo-block {
    margin-bottom: 30px;
    background-color: #ececec;
    border-radius: 2px;
    padding: 10px; }
    main .seo-block h1 {
      font-size: 22px; }
    main .seo-block h2 {
      font-size: 18px;
      line-height: 20px;
      margin-top: 5px; }
    main .seo-block p {
      font-size: 12px; }
    main .seo-block a {
      color: #1D6800; }

/* Close */
[class*="close-"] {
  border-radius: 2px;
  font-size: 6px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  padding-left: 1px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer; }
  [class*="close-"]:hover {
    color: #ffffff; }
  [class*="close-"]:before {
    font-family: icon;
    content: "";
    color: #ffffff; }

/* Footer */
.payment-system-box {
  width: 5%;
  float: left; }
  .payment-system-box > [class*='pay-'] {
    display: inline-block;
    width: 100%;
    height: 32px;
    background: url("../images/payment.png") top center no-repeat; }
  .payment-system-box .pay-1 {
    background-position: center 0px; }
  .payment-system-box .pay-2 {
    background-position: center -32px; }
  .payment-system-box .pay-3 {
    background-position: center -64px; }
  .payment-system-box .pay-4 {
    background-position: center -96px; }
  .payment-system-box .pay-5 {
    background-position: center -128px; }
  .payment-system-box .pay-6 {
    background-position: center -160px; }
  .payment-system-box .pay-7 {
    background-position: center -192px; }
  .payment-system-box .pay-8 {
    background-position: center -224px; }
  .payment-system-box .pay-9 {
    background-position: center -256px; }
  .payment-system-box .pay-10 {
    background-position: center -288px; }
  .payment-system-box .pay-11 {
    background-position: center -320px; }
  .payment-system-box .pay-12 {
    background-position: center -352px; }
  .payment-system-box .pay-13 {
    background-position: center -384px; }
  .payment-system-box .pay-14 {
    background-position: center -416px; }
  .payment-system-box .pay-15 {
    background-position: center -448px; }
  .payment-system-box .pay-16 {
    background-position: center -480px; }
  .payment-system-box .pay-17 {
    background-position: center -512px; }
  .payment-system-box .pay-18 {
    background-position: center -544px; }
  .payment-system-box .pay-19 {
    background-position: center -576px; }
  .payment-system-box .pay-20 {
    background-position: center -608px; }

.hide {
  display: none; }

/* Data Table */
/*
 * Table styles
 */
.table-box {
  position: relative;
  margin: 20px 0; }

table.data-table {
  width: 100%;
  margin: 15px auto 0 auto;
  clear: both;
  border-collapse: collapse;
  border-spacing: 0;
  font-weight: bold;
  font-size: 11px; }
  table.data-table thead th {
    height: 30px;
    line-height: 30px;
    margin: 0;
    border: 2px solid #ffffff; }
    table.data-table thead th .theade-title {
      border: 1px solid #1D6800;
      color: #8b8b8b;
      border-radius: 2px;
      text-align: center; }
  table.data-table tbody td {
    height: 30px;
    border: 2px solid #ffffff;
    text-align: center; }
    table.data-table tbody td div {
      background-color: #ececec;
      color: #8b8b8b;
      height: 30px;
      line-height: 30px;
      border-radius: 2px; }
      table.data-table tbody td div.td-green {
        background-color: #1D6800;
        color: #ffffff;
        padding: 0; }
      table.data-table tbody td div.td-desc {
        padding-left: 10px;
        padding-right: 10px; }
      table.data-table tbody td div .td-strike-action {
        display: block;
        color: #1D6800;
        border-radius: 2px; }
        table.data-table tbody td div .td-strike-action:hover {
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#098c00+0,1d6800+100 */
          background: #098c00;
          /* Old browsers */
          background: -moz-linear-gradient(top, #098c00 0%, #1d6800 100%);
          /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #098c00), color-stop(100%, #1d6800));
          /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, #098c00 0%, #1d6800 100%);
          /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, #098c00 0%, #1d6800 100%);
          /* Opera 11.10+ */
          background: -ms-linear-gradient(top, #098c00 0%, #1d6800 100%);
          /* IE10+ */
          background: linear-gradient(to bottom, #098c00 0%, #1d6800 100%);
          /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#098c00', endColorstr='#1d6800',GradientType=0 );
          /* IE6-9 */
          color: #ffffff; }
        table.data-table tbody td div .td-strike-action.disabled {
          cursor: default;
          color: #a7a7a7; }
          table.data-table tbody td div .td-strike-action.disabled:hover {
            background: none !important; }
      table.data-table tbody td div .td-strike-window {
        display: block;
        color: #1D6800;
        border-radius: 2px; }
        table.data-table tbody td div .td-strike-window i {
          font-size: 14px; }
        table.data-table tbody td div .td-strike-window:hover {
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#098c00+0,1d6800+100 */
          background: #098c00;
          /* Old browsers */
          background: -moz-linear-gradient(top, #098c00 0%, #1d6800 100%);
          /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #098c00), color-stop(100%, #1d6800));
          /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, #098c00 0%, #1d6800 100%);
          /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, #098c00 0%, #1d6800 100%);
          /* Opera 11.10+ */
          background: -ms-linear-gradient(top, #098c00 0%, #1d6800 100%);
          /* IE10+ */
          background: linear-gradient(to bottom, #098c00 0%, #1d6800 100%);
          /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#098c00', endColorstr='#1d6800',GradientType=0 );
          /* IE6-9 */
          color: #ffffff; }
    table.data-table tbody td.td-strike {
      width: 12%; }
    table.data-table tbody td.w-10 {
      width: 10%; }
    table.data-table tbody td.w-14 {
      width: 14.1%; }
    table.data-table tbody td .table-drob {
      height: 30px;
      position: relative;
      color: #ffffff;
      border-radius: 2px;
      background: #cccccc url("../images/table-grob.png") center no-repeat;
      background-size: 100% 100%; }
      table.data-table tbody td .table-drob:before {
        content: '2';
        font-size: 11px;
        position: absolute;
        top: -4px;
        right: 10px; }
      table.data-table tbody td .table-drob:after {
        content: '1';
        font-size: 11px;
        position: absolute;
        bottom: -4px;
        left: 10px; }

/* BG colors */
.bg-red {
  background-color: #bf5c50 !important; }

.color-red {
  color: #bf5c50 !important; }

.bg-blue {
  background-color: #5989bf !important; }

.color-blue {
  color: #5989bf !important; }

.bg-white {
  background-color: #b27f42 !important; }

.color-white {
  color: #b27f42 !important; }

.bg-orange {
  background-color: #1b1b1b !important; }

.color-orange {
  color: #1b1b1b !important; }

.bg-yellow {
  background-color: #ffd355 !important; }

.color-yellow {
  color: #ffd355 !important; }

.bg-black {
  background-color: #25bf16 !important; }

.color-black {
  color: #25bf16 !important; }

.bg-green {
  background-color: #80b465 !important; }

.color-green {
  color: #80b465 !important; }

.video-player {
  display: none;
  margin-top: 20px;
  margin-bottom: 20px; }
  .video-player #player {
    width: 100%;
    padding: 10px;
    background-color: #111111; }

/*----------------------------------------------------------
 TIMER
----------------------------------------------------------*/
.timer {
  margin: 15px 0; }
  .timer .timer-prgress-bar {
    height: 30px;
    width: 93%; }
    .timer .timer-prgress-bar .timer-box {
      height: 30px;
      background-image: url("../images/timer.png"); }
  .timer .timer-clock {
    width: 7%;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    font-weight: bold; }

/*---------------------------------------------------------*/
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 12px;
  line-height: 18px; }

.settings-table td {
  padding: 5px; }

/* Forms */
textarea, input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
select {
  outline: none;
  background-color: #ffffff;
  border: 1px solid #d5d5d5;
  width: 100%;
  color: #777777;
  padding: 5px;
  font-size: 0.75rem; }

textarea {
  resize: vertical; }

button {
  border: none;
  outline: none; }

input[type="checkbox"], input[type="radio"] {
  display: none; }

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  position: relative;
  width: 14px;
  height: 14px;
  line-height: 14px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-right: 5px;
  cursor: pointer; }

input[type="checkbox"]:checked + label::after {
  font-family: icon;
  content: "";
  font-size: 8px;
  color: rgba(255, 255, 255, 0.6); }

input[type="radio"]:checked + label::after {
  font-family: icon;
  content: "";
  font-size: 8px;
  color: rgba(255, 255, 255, 0.6); }

/* input size */
.input-xs {
  height: 24px; }

.input-sm {
  height: 36px; }

.input-md {
  height: 42px; }

.input-lg {
  height: 54px; }

.box-shadow-red {
  box-shadow: inset 0 0 4px #c44346; }

.box-shadow-green {
  box-shadow: inset 0 0 4px #1D6800; }

.box-shadow {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); }

.box-shadow-left {
  box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.2); }

.pos-left {
  position: absolute;
  left: 0; }

.pos-right {
  position: absolute;
  right: 0; }

.box {
  border-radius: 2px;
  overflow: hidden; }
  .box .box-title {
    width: 100%;
    height: 30px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#098c00+0,1d6800+100 */
    background: #098c00;
    /* Old browsers */
    background: -moz-linear-gradient(top, #098c00 0%, #1d6800 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #098c00), color-stop(100%, #1d6800));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #098c00 0%, #1d6800 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #098c00 0%, #1d6800 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #098c00 0%, #1d6800 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #098c00 0%, #1d6800 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#098c00', endColorstr='#1d6800',GradientType=0 );
    /* IE6-9 */ }
    .box .box-title h3 {
      color: #ffffff;
      line-height: 30px;
      font-size: 11px;
      font-weight: bold;
      padding: 0 10px;
      text-transform: uppercase; }
  .box .box-content {
    position: relative; }
    .box .box-content .box-caption {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      bottom: 0;
      color: #ffffff;
      padding: 10px;
      font-size: 14px;
      line-height: 16px; }

.faq-box {
  padding: 4px; }
  .faq-box .faq-box_quest {
    border-radius: 2px;
    background-color: #fff1be;
    padding: 8px 4px;
    font-size: 11px;
    font-weight: bold; }
  .faq-box .faq-box_answer {
    padding: 8px 4px; }

.w-1 {
  width: 100%; }

.w-2 {
  width: 50%; }

.w-3 {
  width: 33.3333%; }

.w-4 {
  width: 25%; }

.w-5 {
  width: 20%; }

.w-6 {
  width: 16.6666%; }

/* all width */
.m-2 {
  margin: 2px; }

.m-t-2 {
  margin-top: 2px; }

.m-b-2 {
  margin-bottom: 2px; }

.m-l-2 {
  margin-left: 2px; }

.m-r-2 {
  margin-right: 2px; }

.p-2 {
  padding: 2px; }

.p-t-2 {
  padding-top: 2px; }

.p-b-2 {
  padding-bottom: 2px; }

.p-l-2 {
  padding-left: 2px; }

.p-r-2 {
  padding-right: 2px; }

.m-5 {
  margin: 5px; }

.m-t-5 {
  margin-top: 5px; }

.m-b-5 {
  margin-bottom: 5px; }

.m-l-5 {
  margin-left: 5px; }

.m-r-5 {
  margin-right: 5px; }

.p-5 {
  padding: 5px; }

.p-t-5 {
  padding-top: 5px; }

.p-b-5 {
  padding-bottom: 5px; }

.p-l-5 {
  padding-left: 5px; }

.p-r-5 {
  padding-right: 5px; }

.m-10 {
  margin: 10px; }

.m-t-10 {
  margin-top: 10px; }

.m-b-10 {
  margin-bottom: 10px; }

.m-l-10 {
  margin-left: 10px; }

.m-r-10 {
  margin-right: 10px; }

.p-10 {
  padding: 10px; }

.p-t-10 {
  padding-top: 10px; }

.p-b-10 {
  padding-bottom: 10px; }

.p-l-10 {
  padding-left: 10px; }

.p-r-10 {
  padding-right: 10px; }

.m-15 {
  margin: 15px; }

.m-t-15 {
  margin-top: 15px; }

.m-b-15 {
  margin-bottom: 15px; }

.m-l-15 {
  margin-left: 15px; }

.m-r-15 {
  margin-right: 15px; }

.p-15 {
  padding: 15px; }

.p-t-15 {
  padding-top: 15px; }

.p-b-15 {
  padding-bottom: 15px; }

.p-l-15 {
  padding-left: 15px; }

.p-r-15 {
  padding-right: 15px; }

.m-20 {
  margin: 20px; }

.m-t-20 {
  margin-top: 20px; }

.m-b-20 {
  margin-bottom: 20px; }

.m-l-20 {
  margin-left: 20px; }

.m-r-20 {
  margin-right: 20px; }

.p-20 {
  padding: 20px; }

.p-t-20 {
  padding-top: 20px; }

.p-b-20 {
  padding-bottom: 20px; }

.p-l-20 {
  padding-left: 20px; }

.p-r-20 {
  padding-right: 20px; }

.m-25 {
  margin: 25px; }

.m-t-25 {
  margin-top: 25px; }

.m-b-25 {
  margin-bottom: 25px; }

.m-l-25 {
  margin-left: 25px; }

.m-r-25 {
  margin-right: 25px; }

.p-25 {
  padding: 25px; }

.p-t-25 {
  padding-top: 25px; }

.p-b-25 {
  padding-bottom: 25px; }

.p-l-25 {
  padding-left: 25px; }

.p-r-25 {
  padding-right: 25px; }

.m-30 {
  margin: 30px; }

.m-t-30 {
  margin-top: 30px; }

.m-b-30 {
  margin-bottom: 30px; }

.m-l-30 {
  margin-left: 30px; }

.m-r-30 {
  margin-right: 30px; }

.p-30 {
  padding: 30px; }

.p-t-30 {
  padding-top: 30px; }

.p-b-30 {
  padding-bottom: 30px; }

.p-l-30 {
  padding-left: 30px; }

.p-r-30 {
  padding-right: 30px; }

/*# sourceMappingURL=main.css.map */
