
@import "modules/variable";
@import "lib/normalize";
@import "modules/icon";
@import "modules/loader";
@import "lib/modals";
@import "lib/animate";
@import "lib/accordion";
/* ===== TEXT SETTING ===== */
@import "modules/text";

/* ===== BUTTON STYLE ===== */
@import "modules/button";
@import "lib/flags";



body {
  font: normal 0.6875em/1em "Verdana", sans-serif;
  background-color: $base_bg;
  color: $base_text;
}



img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  max-width: 100%;
}


/* Blocks manipulation */
.display-block {
  display: block;
}

.block-center {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.img-middle:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.img-middle img {
  vertical-align: middle;
  display: inline-block;
}

/* all width */
@each $width in 10, 20, 25, 30, 40, 50, 60, 70, 80 {
  $pr: #{'%'};
  .w-#{$width} {
    width: $width+$pr;
    position: relative;

  }
}



.document {
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex:1;
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

/* top header */
.top-header {
  height: 40px;
  background-color: #cccccc;
  z-index: 10;
  position: relative;
  .logo-box {
    height: 40px;
    img {
      height: 30px;
    }
  }
}
.top-menu{
  bottom: 0;
  margin-top: 13px;
  margin-left: 20px;
  .top-menu__list {
    font-size: 13px;
    font-weight: 600;
    float: left;
    background: #1D6800;

    border-radius: 4px 4px 0 0;
    a {color: #ffffff;
        padding: 8px 16px;
        display: block;
    }
    &.active{
      background: #ffffff;
      a {
        color: #222222;
      }
    }
  }
}

/* aside blocks */
aside {
  display: flex;
  flex-direction: column;
  float: left;
    .title-aside {
      h3 {
        width: 100%;
        height: 30px;
        line-height: 30px;
        color: $contrast_text;
        font-size: 11px;
        font-weight: bold;
        padding: 0 10px;
        @include base_gradient;
        border-radius: 2px;
        text-transform: uppercase;
      }
    }
  .aside-box {
    background-color: $base_bg;
    border-radius: 2px;
  }
}

.aside-left {
  width: 14%;
  padding: 10px;
  position: relative;
    .navbar-aside {
      flex: 1;
      & > li {
        width: 100%;
        margin: 1px 0;
        & > a {
          display: block;
          height: 30px;
          background-color: $base_color;
          border-radius: 2px;
          text-transform: uppercase;
          color: $contrast_text;
          padding: 0 10px;
          line-height: 30px;
          font-weight: bold;
        }
        .sub-navbar-aside {
          & > li {
            border-bottom: 1px solid $base_border;
            & > a {
              display: block;
              height: 30px;
              line-height: 30px;
              padding: 0 10px;
              color: $dtext;
              &.active {
                background-color: #9db5c8;
                color: #ffffff;
              }
            }
            .second-sub-navbar-aside {
              & > li {
                border-top: 1px solid #ceba9c;
                background-color: #e8e2d8;
                &:nth-of-type(2n+2) {
                  background-color: #ede8c8;
                }
                a {
                  display: block;
                  padding: 5px 10px;
                }
              }
            }
          }
        }
      }
    }

}

.aside-right {
  width: 16%;
  padding: 10px;
  .aside-box {
    .tabs-betting {
      padding: 5px;
      padding-bottom: 6px;
      ul {

        li {
          @include default_gradient;
          padding: 5px;
          border-radius: 2px;
          cursor: pointer;
          color: $contrast_text;
          &.active {
            cursor: default;
            @include base_gradient;
          }
        }
      }
    }
    .kupon-box {
      .kupon {
        background-color: $base_color;
        border-radius: 2px;
        min-height: 40px;
        padding: 10px;
        margin-top: 4px;
        span {
          color: $contrast_text;
          font-weight: bold;
        }
        .kupon-check {
          display: block;
          padding-top: 10px;
        }
      }
    }
    .betting-box {
      background-color: $contrast_bg;
      border-radius: 2px;
      & li {
        min-height: 30px;
        line-height: 30px;
        padding: 0 10px;
        font-size: 10px;
        border-bottom: 1px solid $base_border;
        &:last-child {
          border-bottom: none;
        }
        &.btn-bet-box {
          padding: 10px;
          & span {
            display: inline-block;
            border: 5px solid $contrast_border;
            border-radius: 2px;
          }

        }
        & input {
          width: 20%;
          height: 18px;
          margin-top: 6px;
          text-align: right;
          border-radius: 2px;
          border: none;
          padding-right: 2px;
        }
      }
    }
    .hole-betting-box {
      background-color: #fff1be;
      padding: 15px 10px;
      span {
        line-height: 16px;
      }
    }
  }
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  float: left;
  width: 70%;
  flex: 1;
  padding: 10px;
  position: relative;
  .main_table{
    flex: 1;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
  }
}


.hide {
  display: none;
}



.lineTable {
  width: 100%;
  font-size: 11px;
  font-weight: bold;
  color: #222222;
  &>thead{
    color: #ffffff;
    tr{
      vertical-align: inherit;
      border-color: inherit;
      background-color: #9db5c8;
      th{
        padding: 8px 5px;
        border:1px solid #cccccc;
        &.event_value{
          text-align: center;
          width: 4%;
        }
        &.event_param{
          text-align: center;
          width: 5%;
        }
      }
    }
  }
  tr{
    td{
      border:1px solid #cccccc;
      padding: 8px 5px;
    }
    &.tr-event {
      td{
        &.event_value{
          text-align: center;
          width: 4%;
        }
        &.event_param{
          text-align: center;
          width: 5%;
        }
      }
      .eventScore {
        padding: 3px 6px;
        background-color: #e2e2e2;
        border: 1px solid #cccccc;
        border-radius: 6px;
        margin-left: 8px;
      }
    }
    &.tr__segment{
      td{
        &.segment-color{
          padding: 0 5px;
          height: 18px;
          vertical-align: middle;
          color: #ffffff;
        }
      }
    }
  }
}



.grid_table {
  font-size: 11px;
  font-weight: bold;
  color: #222222;
  text-align: center;
  margin: 3px;
  float: left;
  thead{
    color: #ffffff;
    background-color: #9db5c8;
    tr{
      th{
        padding: 5px;
        border:1px solid #cccccc;
      }
    }
  }
  tr{
    td{
      padding: 7px;
      border:1px solid #cccccc;
      &.js-bet{
        &.active{
          cursor: pointer;
          &:hover{
            background-color: #dfecf2;
          }
        }
        &.disabled {
          color: #cccccc;
        }
        &.bet-up{
          -webkit-transform-origin: center center;
          transform-origin: center center;
          animation: pulse_up 0.8s infinite linear;
        }
        &.bet-down{
          -webkit-transform-origin: center center;
          transform-origin: center center;
          animation: pulse_down 0.8s infinite linear;
        }
      }
    }
  }
}

[class*='td-color'] {
  background-color:#338427;
}
.td-color1{
  background-color:#338427;
}
.td-color2{
  background-color:#cd741c;
}
.td-color4{
  background-color:#898989;
}
.td-color5{
  background-color:#b74c22;
}
.td-color23{
   background-color:#786b45;
}
.td-color20{
  background-color:#266581;
}
.td-color1{
  background-color:#338427;
}


//
.accordion {
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  &:before {
    content: '\25ba';
    margin-right: 4px;
    font-size: 10px;
  }
  &.active:before {
    content: '\25bc'  ;
  }

}


@keyframes pulse_up {
  from {background-color: #81c373;}
  50% {background-color: #f4ffea;}
  to {background-color: #81c373;}
}
@-webkit-keyframes pulse_up {
  from {background-color: #81c373;}
  50% {background-color: #f4ffea;}
  to {background-color: #81c373;}
}
@keyframes pulse_down {
  from {background-color: #f0938b;}
  50% {background-color: #fff2e4;}
  from {background-color: #f0938b;}
}
@-webkit-keyframes pulse_down {
  from {background-color: #f0938b;}
  50% {background-color: #fff2e4;}
  from {background-color: #f0938b;}
}



/* all width */
@each $px in 2, 5, 10, 15, 20, 25, 30 {
  $pr: #{'px'};
  .m-#{$px} {
    margin: $px+$pr;
  }
  .m-t-#{$px} {
    margin-top: $px+$pr;
  }
  .m-b-#{$px} {
    margin-bottom: $px+$pr;
  }
  .m-l-#{$px} {
    margin-left: $px+$pr;
  }
  .m-r-#{$px} {
    margin-right: $px+$pr;
  }
  .p-#{$px} {
    padding: $px+$pr;
  }
  .p-t-#{$px} {
    padding-top: $px+$pr;
  }
  .p-b-#{$px} {
    padding-bottom: $px+$pr;
  }
  .p-l-#{$px} {
    padding-left: $px+$pr;
  }
  .p-r-#{$px} {
    padding-right: $px+$pr;
  }
}


.icon_sport {
  display: inline-block;
  height: 14px;
  width: 14px;
  background: center no-repeat;
}


.event-open {
  height: 11px;
  width: 11px;
  &:before {
    content: '\25ba';
    margin-right: 4px;
    font-size: 10px;
  }
  &.active:before {
    content: '\25bc'  ;
  }
}

.nav__tournament{
  overflow: hidden;
}



.nav__icon {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 10px;
  margin-top: 7px;
  background-repeat: no-repeat;
  background-position: center;
}


.sport1 {
  background-image: url("//d2lbuedp52av05.cloudfront.net/resources/sports/svg/soccer.svg");
  background-size: 12px 12px; }
.sport2 {
  background-image: url("//static.fbwebdn.com/resources/sports/svg/basket.svg");
  background-size: 12px 12px; }
.sport4 {
  background-image: url("//d2lbuedp52av05.cloudfront.net/resources/sports/svg/hockey.svg");
  background-size: 12px 12px; }
.sport5 {
  background-image: url("//d2lbuedp52av05.cloudfront.net/resources/sports/svg/tennis.svg");
  background-size: 12px 12px; }
.sport6 {
  background-image: url("//d2lbuedp52av05.cloudfront.net/resources/sports/svg/handball.svg");
  background-size: 12px 12px; }
.sport31 {
  background-image: url("//static.fbwebdn.com/resources/sports/svg/badminton.svg");
  background-size: 12px 12px; }
.sport7 {
  background-image: url("//d2lbuedp52av05.cloudfront.net/resources/sports/svg/carracing.svg");
  background-size: 12px 12px; }
.sport8 {
  background-image: url("//d2lbuedp52av05.cloudfront.net/resources/sports/svg/handball.svg");
  background-size: 12px 12px; }
.sport9 {
  background-image: url("//d2lbuedp52av05.cloudfront.net/resources/sports/svg/volley.svg");
  background-size: 12px 12px; }
.sport12  {
  background-image: url("//d2lbuedp52av05.cloudfront.net/resources/sports/svg/rugby.svg");
  background-size: 12px 12px; }
.sport16  {
  background-image: url("//d2lbuedp52av05.cloudfront.net/resources/sports/svg/soccer.svg");
  background-size: 12px 12px; }
.sport21 {
  background-image: url("//d2lbuedp52av05.cloudfront.net/resources/sports/svg/box.svg");
  background-size: 12px 12px; }
.sport22 {
  background-image: url("//d2lbuedp52av05.cloudfront.net/resources/sports/svg/darts.svg");
  background-size: 12px 12px; }
.sport23 {
  background-image: url("//d2lbuedp52av05.cloudfront.net/resources/sports/svg/volley.svg");
  background-size: 12px 12px; }
.sport29 {
  background-image: url("//d2lbuedp52av05.cloudfront.net/resources/sports/svg/futsal.svg");
  background-size: 12px 12px; }
.sport10 {
  background-image: url("//d2lbuedp52av05.cloudfront.net/resources/sports/svg/bandy.svg");
  background-size: 12px 12px; }
.sport20 {
  background-image: url("//static.fbwebdn.com/resources/sports/svg/pingpong.svg");
  background-size: 12px 12px;
}